{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{%endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" tyep="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}

{% block navbar %}
<!--<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">1</span>
        <span class="icon-bar">2</span>
        <span class="icon-bar">3</span>
      </button>
      <a class="navbar-brand" href="/">Flasky</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/first">Change Style</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('main.publish_blog') }}">Publish Blog</a></li>
        {% endif %}
        <li><a href="{{ url_for('api.query_ip') }}">Query IP</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        {% if current_user.is_authenticated %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{ current_user.gravatar(size=20) }}">
        <button type="button" class="btn btn-default btn-xs">
	    <span class="glyphicon glyphicon-user"></span>{{ current_user.username }}
        </button>
        <b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
        {% if current_user.is_administrator() %}
        <li><a href="{{ url_for('main.manage_user') }}">Manage User</a></li>
        <li><a href="{{ url_for('main.online_user') }}">Online User</a></li>
        {% endif %}
        <li><a href="{{ url_for('main.profile') }}">Setting</a></li>
        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
        <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
        {% endif %}
        
        <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
        {% endif %}
        </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<br>
<br>
<br>
<style>
body {
     padding-bottom: 100px; 
     background-color: #ffffff;
     background-image: url('{{ url_for('static',filename='xifu.jpg') }}');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size:100% 100%;
     color:#444;
     min-height:100%;
     margin:0;
}
</style>
<div class="container" style="padding-bottom:100px;">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% block page_content %}{% endblock %}
</div>
<div>
      <footer>
        <p style="padding: 2rem;" class="pull-right"><a href="http://getbootstrap.com/2.3.2/examples/carousel.html#">Back to top</a></p>
        <p style="padding: 2rem;">© 2017 zhouluobo Company, Inc. · <a href="https://github.com/zhouwei713#">Privacy</a> · <a href="https://github.com/zhouwei713#">GitHub</a></p>
      </footer>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
